body {
	font-family: verdana, sans-serif;
	color: #b30000;
}
h1 {
	text-align: center;
}
.clock {
	width: 250px;
	height: 253px;
	padding-top: 40px;
	background-image: url('tomato.png');
	line-height: 253px;
	text-align: center;
	font-size: 450%;
	margin: 0 auto;
	color: #5C581F;
}
.buttons {
	text-align: right;
	margin: 30px auto;
	width: 250px;
}
.buttons button {
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #ffcccc;
	background-color: #ffe6e6;
	color: #b30000;
	margin-right: 20px;
	margin-bottom: 10px;
	outline: none;
}
.buttons button:last-child {
	margin-right: 0;
}
.buttons button:hover {
	background-color: #ffcccc;
}
.reset {
	text-align: center;
	margin-top: 40px;
}
.reset button {
	font-size: 150%;
	padding: 10px;
	color: #b30000;
}
.buttons button.select {
	background-color: #ffcccc;
}